<launch>

  <rosparam command="load" file="$(find eurobot)/params/dual_ekf_navsat_example.yaml" />
  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se_odom" clear_params="true">
    <remap from="odometry/filtered" to="odom_odom" />

  </node>
  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se_map" clear_params="true">
    <remap from="odometry/filtered" to="odom_map" />
  </node>
  <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="map_odom_tf" args="0 0 0 0 0 0 map odom" />
  <node pkg="tf2_ros" type="static_transform_publisher" name="odom_base_tf" args="0 0 0 0 0 0 odom base_footprint" /> -->
</launch>
