<launch>


    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_global" clear_params="true">
        <rosparam command="load" file="$(find eurobot)/params/localization/ekf_global.yaml" />

        <remap from="odometry/filtered" to="global_filter" />
        <remap from="set_pose" to="initialpose" />
    </node>
    
</launch>
