<launch>

    <node name="base_footprint_to_imu" pkg="tf2_ros" type="static_transform_publisher" args="0 0 0.1 0 0 0 1 base_footprint imu_frame" />
    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_global" clear_params="true">
        <rosparam command="load" file="$(find eurobot)/params/localization/ekf_template_global.yaml" />
        <remap from="odometry/filtered" to="global_filter" />
    </node>
</launch>
