<launch>
    <node name="base_to_laser" pkg="tf2_ros" type="static_transform_publisher" args="0 0 0 0 0 -0.044 0.999 base_footprint laser_frame"/>

    <!-- lidar localization -->
    <node name="beacon_extractor" pkg="obstacle_detector" type="obstacle_extractor_node">
        <rosparam file="$(find lidar_localization)/params/beacon_excrator_params.yaml" command="load" />
        <remap from="raw_obstacles" to="obstacles_to_base"/>
    </node>

    <node name="lidar_localization" pkg="lidar_localization" type="lidar_localization_node" output="screen">
        <rosparam file="$(find eurobot)/params/localization/lidar_localization_params.yaml" command="load" />
    </node>

    <!-- obstacle -->
    <node name="obstacle_extractor" pkg="obstacle_detector" type="obstacle_extractor_node">
        <rosparam file="$(find lidar_localization)/params/obstacle_excrator_params.yaml" command="load" />
        <remap from="raw_obstacles" to="obstacles_to_map"/>
    </node>

    <node name="area_obstacles_extractor" pkg="lidar_localization" type="area_obstacles_extractor_node" output="screen">
        <remap from="obstacle_array" to="move_base/TebLocalPlannerROS/obstacles"/>
    </node>
</launch>
