<launch>
    <!-- <include file="$(find eurobot)/launch/localization/lidar_G6.launch"/> -->
    <include file="$(find eurobot)/launch/localization/lidar_S2.launch"/>
    <include file="$(find eurobot)/launch/localization/ekf.launch"/>
    <include file="$(find eurobot)/launch/localization/lidar_localization.launch"/>

</launch>
