<launch>
    <include file="$(find eurobot)/launch/localization/ekf.launch"/>
    <include file="$(find eurobot)/launch/localization/lidar_localization.launch"/>
    
    <!-- rosbag scan time stamp transformer -->
    <!-- <node name="scan_rosbag" pkg="lidar_localization" type="scan_rosbag"/>
    <remap from="scan" to="scan_bag"/> -->
    

    <!-- <node name="rx_to_odom" pkg="lidar_localization" type="rx_to_odom">
        <param name="active" value="true"/>
        <param name="publish_topic" value="true"/>
        <param name="init_x" value="1.65"/>
        <param name="init_y" value="2.58"/>
        <param name="init_yaw" value="-2.66"/>
        <param name="cov_vx" value="0.05"/>
        <param name="cov_vyaw" value="0.05"/>
        <param name="delay" value="1"/>
    </node> -->
</launch>
