[submodule "src/lidar_localization"]
	path = src/lidar_localization
	url = https://github.com/sunfu-chou/lidar_localization.git
[submodule "src/obstacle_detector"]
	path = src/obstacle_detector
	url = https://github.com/tysik/obstacle_detector.git
[submodule "src/ydlidar_ros_driver"]
	path = src/ydlidar_ros_driver
	url = https://github.com/YDLIDAR/ydlidar_ros_driver.git
[submodule "src/teb_local_planner_tutorials"]
	path = src/teb_local_planner_tutorials
	url = https://github.com/rst-tu-dortmund/teb_local_planner_tutorials.git
[submodule "src/YDLidar-SDK"]
	path = src/YDLidar-SDK
	url = https://github.com/YDLIDAR/YDLidar-SDK.git
