[submodule "src/lidar_localization"]
	path = src/lidar_localization
	url = https://github.com/sunfu-chou/lidar_localization.git
[submodule "src/obstacle_detector"]
	path = src/obstacle_detector
	url = https://github.com/tysik/obstacle_detector.git
[submodule "src/ydlidar_ros_driver"]
	path = src/ydlidar_ros_driver
	url = https://github.com/YDLIDAR/ydlidar_ros_driver.git
[submodule "src/YDLidar-SDK"]
	path = src/YDLidar-SDK
	url = https://github.com/YDLIDAR/YDLidar-SDK.git
[submodule "src/rplidar_ros"]
	path = src/rplidar_ros
	url = https://github.com/Slamtec/rplidar_ros.git
[submodule "src/nlink_parser"]
	path = src/nlink_parser
	url = https://github.com/nooploop-dev/nlink_parser.git
[submodule "src/nlink_serial"]
	path = src/nlink_serial
	url = https://github.com/nooploop-dev/serial.git
[submodule "src/imu_calib"]
	path = src/imu_calib
	url = https://github.com/sunfu-chou/imu_calib.git
[submodule "src/imu_tools"]
	path = src/imu_tools
	url = https://github.com/sunfu-chou/imu_tools.git
[submodule "src/rosserial"]
	path = src/rosserial
	url = https://github.com/sunfu-chou/rosserial.git
[submodule "src/rosserial_stm32"]
	path = src/rosserial_stm32
	url = https://github.com/sunfu-chou/rosserial_stm32.git
